email_template.html
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
bin/
ro-crate-metadata.json

build
coverage

# Code
.vscode/settings.json

# Test files
tests/modules/local/fixtures/antismash_jsons/2.json
tests/reference_databases/antismash/as-js/0.13/antismash.js
tests/modules/local/fixtures/antismash_jsons/1.json
