/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SEQKIT_SPLIT2 {
        // TODO: set this as a parameter
        ext.args = "--by-length 200"
    }

    withName: SEQKIT_SEQ {
        ext.args = "--min-len 500"
    }

    withName: PRODIGAL {
        ext.args = "-p meta"
    }

    withName: INTERPROSCAN {
        ext.args = {
            "--iprlookup " +
            "--goterms " +
            "--applications " + [
                "TIGRFAM",
                "SFLD",
                "SUPERFAMILY",
                "Gene3D",
                "Hamap",
                "Coils",
                "SMART",
                "CDD",
                "PRINTS",
                "PIRSF",
                // "ProSiteProfiles",
                // "ProSitePatterns",
                //   Command: python3 bin/prosite/runprosite.py data/prosite/2023_05/prosite_profiles temp/ubu20-n-0eda27516e_20250116_142847408_9zwg//jobPrositeProfiles/000000000001_000000000011.fasta temp/ubu20-n-0eda27516e_20250116_142847408_9zwg//jobPrositeProfiles/000000000001_000000000011.raw.out /opt/conda/bin/pfsearch -f -o 7 -t 4
                //   Error output from binary:
                //   Error: Unable to open profile file '7'.
                //   Error running prosite binary /opt/conda/bin/pfsearch
                "PfamA",
                "MobiDBLite",
                // "ProDom", -- doesn't exist anymore --
                // "SignalP_GRAM_POSITIVE", TODO: get a license
                // "SignalP_GRAM_NEGATIVE",
                // "SignalP_EUK",
                // "Phobius",
                // "TMHMM",
            ].join(",")
        }
    }

    withName: GENOMEPROPERTIES {
        ext.args = '-all -outfiles table -outfiles web_json -outfiles summary'
    }

    withName: DIAMOND_BLASTP {
        ext.args = [
            '--block-size 0',
            '--strand both',
            '--max-target-seqs 1',
        ].join(' ')
    }

    withName: OWLTOOLS {
        ext.args = '--map2slim'
    }
}
