/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/assembly-analysis-pipeline -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 8,
        memory: "8.GB",
        time: "1.h"
    ]
}

params {
    config_profile_name           = "Full test profile"
    config_profile_description    = "Full test dataset to check pipeline function"

    input                              = "${projectDir}/tests/test_samplesheet.csv"

    rrnas_rfam_covariance_model        = "${projectDir}/tests/reference_databases/rrnas_rfam/ribo.cm"
    rrnas_rfam_claninfo                = "${projectDir}/tests/reference_databases/rrnas_rfam/ribo.clan_info"

    interproscan_database              = "${projectDir}/modules/ebi-metagenomics/interproscan/tests/fixtures/interproscan_db/data"
    interproscan_database_version      = "5.73-104.0"

    eggnog_data_dir                    = "${projectDir}/tests/reference_databases/eggnog_mapper/"
    eggnog_database                    = "${projectDir}/tests/reference_databases/eggnog_mapper/eggnog.db"
    eggnog_diamond_database            = "${projectDir}/tests/reference_databases/eggnog_mapper/eggnog_diamond.dmnd"
    eggnog_database_version            = "5.0.2"

    antismash_database                 = "${projectDir}/tests/reference_databases/antismash"

    uniref90_diamond_database          = "${projectDir}/tests/reference_databases/uniref90/uniref90_small.dmnd"
    uniref90rheachebi_diamond_database = ""

    kofam_hmm_database                 = "${projectDir}/tests/reference_databases/kofam/"

    go_obo                             = "https://raw.githubusercontent.com/EBI-Metagenomics/nf-modules/refs/heads/main/modules/ebi-metagenomics/owltools/tests/go-dummy.obo"
    goslim_ids                         = "https://raw.githubusercontent.com/EBI-Metagenomics/nf-modules/refs/heads/main/modules/ebi-metagenomics/owltools/tests/goslim_ids.txt"
    go_banding                         = "https://raw.githubusercontent.com/EBI-Metagenomics/nf-modules/refs/heads/main/modules/ebi-metagenomics/summarisegoslims/tests/goslim_banding_2024.txt"

    uniref90rhea_diamond_database      = "${projectDir}/tests/reference_databases/uniref90rhea/uniref90_rhea.dmnd"
    rheachebi_mapping_tsv              = "${projectDir}/tests/reference_databases/uniref90rhea/rheachebi_mapping.tsv"

    cat_diamond_database               = "${projectDir}/subworkflows/ebi-metagenomics/contigs_taxonomic_classification/tests/data/db/"
    cat_taxonomy_database              = "${projectDir}/subworkflows/ebi-metagenomics/contigs_taxonomic_classification/tests/data/tax/"

    dbcan_database                     = "${projectDir}/modules/ebi-metagenomics/dbcan/dbcan/tests/dbcan_test_db/"
}
