/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/assembly-analysis-pipeline -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name           = 'Full test profile'
    config_profile_description    = 'Full test dataset to check pipeline function'

    input                         = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/test_samplesheet.csv'

    rrnas_rfam_covariance_model   = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/rrnas_rfam/ribo.cm'
    rrnas_rfam_claninfo           = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/rrnas_rfam/ribo.clan_info'

    interproscan_database         = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/interproscan/data'
    interproscan_database_version = '5.59_91'

    eggnog_data_dir               = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/eggnog_mapper/'
    eggnog_database               = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/eggnog_mapper/eggnog.db'
    eggnog_diamond_database       = '/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/eggnog_mapper/eggnog_diamond.dmnd'

    eggnog_database_version       = '5.0.2'

    // TODO: find out if nf-core has a test antismash db
    antismash_database            = "/home/mbc/projects/ebi-metagenomics-assembly-analysis-pipeline/tests/reference_databases/antismash"
}
